@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
 
 * {
    padding: 0;
    margin: 0;
 }
 
 body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #a7d4ff;
    text-align: center;
 }
 
 header {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 10px #0084ff;
 }

 .menu_links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
 }

 ul li a {
    color: #000;
 }

 ul li a:hover {
   color: #0084ff;
}

ul li .buttonlink:hover {
    color: #ffffff;
}

 .play_button {
   padding: 10px 32px 10px 32px;
    border-radius: 10px;
    border: 0;
    background-color: #0084ff;
    color: #ffffff;
 }

 .play_button:hover {
    background-color: #006ace;
    box-shadow: 1px 1px 1px #006ace;
 }

 ul .play_button a {
    color: #ffffff;
 }

 footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: #e9e9e9;
    font-weight: 400;
    z-index: 2;
  }

  .kontakt {
      position: relative;
      top: 200px;
  }

  .Dane li {
   list-style-type: none;
   margin: 15px;


  }

