@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
 
 * {
    padding: 0;
    margin: 0;
 }
 
 body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../Graphics/gamebackground.jpg);
    

 }
 
 header {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 10px #0084ff;
 }

 .menu_links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
 }

 ul li a {
    color: #000;
 }

 ul li a:hover {
   color: #0084ff;
}

 .play_button {
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: 0;
    background-color: #0084ff;
    color: #ffffff;
 }

 .play_button:hover {
    background-color: #006ace;
    box-shadow: 1px 1px 1px #006ace;
 }

 ul .play_button a {
    color: #ffffff;
 }

 .game_description {
    display: block;
    margin: auto;
    font-weight: 600;
    font-size: 22px;
    width: 750px;
 }


 main {
    text-align: center;
    position: relative;
    top: 210px;
 }


 .game_description_title {
    font-weight: 700;
    font-size: 50px;
    text-decoration: underline;
 }


 .game_description_title::selection, .game_description::selection {
    background-color: #25d683ab;
 }


